<p>
    <form action="/blogs/<%= @blog.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
        <table style='text-align: left'>
        <tr>
            <td><label for="title">Title:</label></td>
            <td><input type="text" name="title" placeholder="title" id="title" value="<%= @blog.title %>"></td>
        </tr>
        <tr>
            <td><label for="location">Location:</label></td>
            <td><input type="text" name="location" placeholder="location" id="location" value="<%= @blog.location %>"></td>
        </tr>
        <tr>
            <td><label for="description">Description:</label></td>
            <!--<td><input type="text" input name="description" placeholder="Write a description.." value="<%= @blog.description %>"></td>-->
             <td><textarea type="text" name="description" placeholder="write a message" id="description" value="<%= @blog.description %>"></textarea></td>
        </tr>
        <tr>
            <td><label for="image_url">Image:</label></td>
            <td><input type="text" name="image_url" placeholder="url" id="image_url" value="<%= @blog.image_url %>"></td>
        </tr>
    </table>  
            <br>
            <input type="submit" value="save changes">  
    </form>
</p>    


   
