
   <% if @user.blogs.blank? %>
   <br><br>
        <%= "You do not have any Blog."%> 
        <b><a href='/blogs/new' class="button"><br> <h3>New Blog!</h3></a></b>
  <% else %>    
     <h3>All Travel Blogs</h3>
     <!-- all blogs of that user -->
        <% @user.blogs.each do |blog| %><br> 
          <p><h4>Title:</h4> <%= blog.title %></p>
          <p><h4>Location:</h4> <%= blog.location %></p> 
          <p><h4>Description:</h4> <%= blog.description %></p>
        <p><h4>Image</h4></p>
        <p><img src="<%= blog.image_url %>" alt="image" height="400" width="600"></p> 
   
        <a href="/blogs/<%= blog.id %>/edit"><button>Edit</button></a>
          <br> <br>
        <form class="form" action="/blogs/<%= blog.id %>/delete" method="POST">   
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="Submit" value="Delete">     
        </form>        
    <% end %>
<% end %>

      
          