<h3>This displays all blogs</h3>

    <% @blogs.each do |blog| %>
       <p>Title:<%= blog.title %></p>
        <p>Location:<%= blog.location %></p>
        <p>Description:<%= blog.description %></p>
        <p>img_url:<%= blog.image_url %></p> 
        <form action="blogs/<%=blog.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="button" value="✓"> 
        </form>
        <!--<p><a href="/blogs/<%= blog.id %>"><%= blog.title %></a>-->
        
<% end %>


