<h4>New Blog</h4>
    <p><b><h4>Title:</h4></b> <%= @blog.title %></p>
    <p><h4><b>Location:</b></h4> <%= @blog.location %></p>
    <p><h4><b>Description:</b></h4> <%= @blog.description %></p>
    <p><h4><b>Image</b></h4></p>
    <p><img src="<%= @blog.image_url %>" alt="<%= @blog.image_url %>" height="400" width="600"></p>
<% if @blog.user_id == @user.id%>
   <form class="form" action="/blogs/<%= @blog.id %>/delete" method="POST">   
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="Submit" value="Delete">     
        </form>
    <%end%>