<!-- design page that displays the info about blog -->
<%= @message %>
<a href="/blogs">back to all blogs</a>
<br><br>
<b>Title:</b> <%= @blog.title %>
<br>
<b>Location:</b> <%= @blog.location %>
<br>
<b>Description:</b> <%= @blog.description %>
<br>
<b>Image URL:</b> <%= @blog.image_url %>



