<!-- design page that displays the info about blog -->
<h4><% if @message %></h3>
<p><%= @message %></p>
<%end%>
<a href="/blogs">back to all blogs</a>
<br><br>
<p>
    Title: <%= @blog.title %>
    <br>
    Location: <%= @blog.location %>
    <br>
    Description: <%= @blog.description %>
    <br>
    Image URL: <%= @blog.image_url %>
</p>

