
<!-- renders the post of a specific blog-->
<p><% if @message %></p>
<p><%= @message %></p>
<%end%>
    
<h2>New Blog</h2>
    <p> <%= @blog.title %></p>
    <p><%= @blog.location %></p>
    <p><%= @blog.description %></p>
    <p><img src="<%= @blog.image_url %>" alt="<%= @blog.image_url %>" height="400" width="600">

