<h3>New Log</h3>
    <p><b>Title:</b> <%= @blog.title %></p>
    <p><b>Location:</b> <%= @blog.location %></p>
    <p><b>Description:</b> <%= @blog.description %></p>
    <p><b>Image</b></p>
    <p><img src="<%= @blog.image_url %>" alt="<%= @blog.image_url %>" height="400" width="600"></p>

