<!-- design page that displays the info about blog -->

<p><%= @blog.title %></p>
<p><%= @blog.location %></p>
<p><%= @blog.description %></p>
<p><%= @blog.image_url %></p>
<p><%= @message %></p>
<a href="/blogs">back to all blogs</a>
