<!-- design page that displays the info about blog -->
<!-- Displays the updated edits>
<p><% if @message %></p>
<p><%= @message %></p>
<%end%>

<a href="/blogs">back to all blogs</a>
<br><br>
<p>
    Title: <%= @blog.title %>
    <br>
    Location: <%= @blog.location %>
    <br>
    Description: <%= @blog.description %>
    <br>
    Image URL: <%= @blog.image_url %>
</p>

